fastapi
uvicorn
pytesseract
pillow
aiofiles
python-multipart
PyMuPDF
langchain
chromadb
groq
openai  # Optional fallback
tiktoken
langchain-groq
langchain-community>=0.0.25
sentence-transformers>=2.2.2
langchain-huggingface>=0.0.8
